
:root {
  --color-black: #000000;
  --color-cream: #FFE6C7;
  --color-light-blue: #4FCFF8;
  --color-purple: #AB5DEC;
  --color-dark-blue: #024BE8;
  --color-turquoise: #00b2ca;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-cream);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.home-container {
  min-height: 100vh;
  background-color: var(--color-black);
  overflow-x: hidden;
}